.header-img-container {
  background-image: url(http://oddert.github.io/folios/margate/img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-img {
  width: 100%;
  visibility: hidden;
}

.pdf-link {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  bottom: 8px;
  left: 8px;
  box-shadow: 3px 3px 14px rgba(8, 8, 8, 0.4);
}
.pdf-link i {
  margin-top: 50%;
  transform: translateY(-50%);
}

.pdf-popUp {
  padding: 5px 5px 0px 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 14px rgba(8, 8, 8, 0.4);
  position: fixed;
  bottom: 55px;
  left: 55px;
  visibility: hidden;
  display: inline-block;
}

.a-pdf {
  z-index: 20;
}
.a-pdf:visited, .a-pdf:active, .a-pdf:link {
  color: #2d3e50;
}
.a-pdf:hover {
  color: #7e8c8d;
}
.a-pdf:hover .pdf-popUp {
  visibility: visible;
  color: black;
}
.a-pdf:hover .pdf-link {
  transform: scale(1.1);
}

h1 {
  font-family: 'poiret one', arial;
  padding: 20px;
  box-shadow: -3px -3px 20px 2px rgba(8, 8, 8, 0.2);
}

h4 {
  margin: 40px 10% 60px 10%;
}

h5 {
  margin: 0px 15% 0px 15%;
  font-family: Montserrat, arial;
  white-space: pre-wrap;
  text-align: center;
}

.par-spacer {
  visibility: hidden;
  color: white;
}

.img-box {
  margin: 80px 0px 80px 0px;
}
.img-box img.hor {
  width: 80%;
}
.img-box img.ver {
  height: 400px;
}
.img-box .img-footer {
  padding: 5px 20% 0px 20%;
  font-size: 80%;
  color: #95a5a5;
}

.pen-embed {
  margin: 50px 10% 50px 10%;
  width: 80%;
}

.footer {
  margin-top: 40px;
  box-shadow: -12px 0px 20px rgba(8, 8, 8, 0.4);
}
.footer .footer-name {
  padding: 20px 0px 20px 50px;
  color: #7e8c8d;
}

.footer-arrow {
  font-size: 18px;
  margin: 5px 0px 18px 70px;
  display: inline-block;
  color: #34495e;
}

iframe {
  margin-top: 80px;
  margin-left: 50%;
  transform: translateX(-50%);
}
